/*
 * Universal styles applied to the site, used for elements used across the site
 */


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.site-content{
  background: $color__white;
}



//Comment replies
.comment-respond{
  padding:20px;
}





