/**
 * Typography
 * Adjustments to headers based on profiles (larger on large profiles)
 */

h1, h2, h3, h4, h5, h6 {
  
	clear: both;
	font-weight: $font__weight-regular;
	color: $color__gray_regular;
	text-transform: uppercase;
	line-height: 1.25em;
	margin: 0px auto 1em 0px;
	
	a{
	  color: inherit;
	}
	
	&.light{
	  font-weight: $font__weight-light;
	}
	
	&.bold{
	  font-weight: $font__weight-semi-bold;
	}
	
	&.capitalize{
	  text-transform: capitalize;
	}
	
	//colour adjustments
	&.white{
	  color: $color__white;
	}
	
}

h1, .h1{
  font-size: 3.75rem;
  font-weight: $font__weight-bold;
}
h2, .h2{
  font-size: 2.187rem; 
  color: $color__green_regular;
}
h3, .h3{
  font-size: 1.68rem;
  font-weight: $font__weight-semi-bold;
  
}
h4, .h4{
  font-size: 1.43rem;
  text-transform: capitalize;
  color: $color__green_regular; 
}
h5, .h5{
  font-size: 1.43rem;
  text-transform: capitalize;
}
h6, .h6{
  font-size: 1.43rem;
  text-transform: capitalize;
}

//Additional H tags and patterns

//hero banner
h1.hero-title{
  
  font-size: 3.25rem;
  font-weight: $font__weight-bold;
  color: $color__green_regular;
  line-height: 1.05em;
  
  //On the homepage, we split the title to be fancy
  span{
    display: inline-block;
    margin-right: 0.2em;
    
    &:nth-of-type(1){
      color: $color__white;
    }
    &:nth-of-type(2){
      color: $color__white;
    }
    
  }
  
  //medium profiles
  @include breakpoint("medium"){
    font-size: 6.25rem;
  }
  
}
.hero-subtitle{
  font-size: 1.25rem;
  color: $color__white;
}