a {
	color: $color__blue_normal;
  text-decoration: none;
  
  &.black{
    color: $color__black;
  }
  
  
	&:visited {
		color: $color__blue_normal;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__blue_light;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}