
//Standard navigation, across all menus
.menu {
  
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin: 0px;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
		  opacity: 0;
		  visibility: hidden;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: 0%;
			z-index: 99999;
			@include font-size(0.9);
			transition: visibility 0ms linear 350ms, opacity 250ms linear;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			opacity: 1;
			visibility: visible; 
			transition-delay: 0ms;
		}
	}

	li {
		position: relative;
		display: block;
		margin: 0px;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 10px;
		text-transform: uppercase;
		text-align: left;
		color: $color__gray_regular;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	  
	}
	
	.current_page_item > a,
  .current-menu-item > a{
    
  }
}

//Vertical Menu	
.menu.vertical{
  

}


//Main navigation menu
.menu.main-menu{
    display: none;
    
    ul{
      
      //sub menu
      ul{
        background: $color__white;
        padding: 25px 15px;
        
        li{
          
          &:hover a,
          &:focus a{
           
          }
         
        }
        
        a{
          color: $color__black;
          padding: 10px 15px 10px 0px;
        }
        
        &:before{
          position: absolute;
          top: -30px;
          left: 20px;
          content: '';
          border-left: solid 15px rgba(255, 0, 0, 0);
          border-right: solid 15px rgba(255, 255, 255, 0);
          border-bottom: solid 15px $color__white;
          border-top: solid 15px rgba(0, 0, 0, 0);
        }
        
         //Curent page item
        .current_page_item > a,
        .current-menu-item > a{
           color: $color__orange_regular;
        }
        
      }
      
    }
    li{
      display: inline-block;
      
      //Featured element 
      &.featured{
        a{
          @include button-styling('featured', 'small');
        }
      }
      
      //Split menu (2 item layout)
      &.split-menu{
        
        ul{
          width: 300px;
          
        }
        li{
          width: 47.5%;
          float: left;
        }
        li:nth-of-type(odd){
          margin-right: 2.5%;
        }
        li:nth-of-type(even){
          margin-left: 2.5%;
        }
        ul a{
          width: auto;
        }
      }
      
    }
    
    a{
      color: $color__white;
    }
    
    //Curent page item
    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
      color: $color__orange_regular;
    }
    
   //Large profile 
   @include breakpoint("large"){
     display: block;
     
   }
    
}

//Mobile menu adjustments
.menu.mobile-menu{
  
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50vw;
  height:100vh;
  background-color: $color__green_regular;
  z-index: 50;
  overflow: auto;
  transform: translate3d(-100%, 0%, 1px);
  @include simple-transition;
  
  > div{
    min-height: 100%;
    height: auto;
  }
  
  ul{
 
    
    //submenu
    ul{
      opacity: 1;
      width: 100%;
      visibility: visible;
      box-shadow: none;
      display: block;
      position: relative;
      
      a{
        color: $color__white;
        display: block;
        background: $color__green_dark;
        width: 100%;
        padding-left: 30px;
      }
      
    }
    
  }
  
  li{
    clear: both;
    
  }
  a{
    color: $color__white;
    background-color: $color__green_regular;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2)
  }
  
  @include breakpoint('large'){
    display: none;
  }
  
  
  //active mobile menu
  &.active{
    transform: translate3d(0%, 0%, 1px);
    
  }
  
}
.mobile-background{
  background: rgba(25,25,25,0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  @include simple-transition;
  
  &.active{
    opacity: 1;
    z-index: 20;
  }
  
  @include breakpoint("large"){
    display: none;
  }
}


//Main menu adjustments
.main-navigation{
  display: none;
  @include breakpoint("large"){
    display: block;
  }
} 

//mobile menu
.main-navigation.mobile{
  display: none;
  
  &.active{
    display: block;
  }
  
  @include breakpoint("large"){
    display: none;
  }
}


//Menu toggle (only show on small and medium)
.toggle-wrap{
  display: block;
  
  @include breakpoint("large"){
    display: none;
  }
  
  .menu-toggle{
    display: inline-block;
    text-align: center;
    background: $color__green_regular;
    font-size: 1.7rem;
    width: 45px;
    height: 45px;
    color: $color__white;
    cursor: pointer;
  }
  
}


//Adjustments for the menus in the footer
.site-footer{
  
  .menu{
    
    a{
      color: $color__white;
    }
    
  }
  
}








.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		@include button-styling;
		
		a{
		  color: inherit;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		@include button-styling;
		a{
      color: inherit;
    }
	}
}
