.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


//Single post
.single-post{
  
  .entry-meta{
    text-transform: uppercase;
    color: $color__subtle_gray;
    
    a{
      color: inherit;
        
      &:hover,
      &:focus{
         color: $color__light_gray;
      }
    }
  }
  
}


//Listing of posts on blog page, category, tag and searrch pages
.news-listing{
  
  
  .hentry{
    border-bottom: solid 10px $color__off_white;
    margin-bottom: 20px;
    
    @include breakpoint("medium"){
      margin-bottom: 50px;
    }
    
    .entry-content{
      margin: 0px;
    }
    .entry-meta{
      text-transform: uppercase;
      color: $color__subtle_gray;
      
      a{
        color: inherit;
        
        &:hover,
        &:focus{
          color: $color__light_gray;
        }
      }
    }
    
    .entry-footer{
      
    }
    
  }
  
}
